div{
    border: 1px solid gray;
    background-color: #DDDEEE;
    width: 200px;
    height: 40px;
}

.position-relative{
    background: yellow;
    position: relative;
    top: -10px;
    left: 10px;
}

.position-absolute{
    background: green;
    position: absolute;
    top: 10px;
    left: 10px;
}

.position-fixed{
    background: red;
    position: fixed;
    top: 15px;
    left: 10px;
}