.square{
    border: 1px solid gray;
    width: 40px;
    height: 40px;
}

.circle{
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.blue{
    background-color: #0046AE;
}

.yellow{
    background-color: #FFD200;
}

.red{
    background-color: #CC092F;
}